@model IEnumerable<Tarczynews.Models.TarczynCap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>You have @(Model.Count()) caps</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { number = item.Number }) |
                @Html.ActionLink("Details", "Details", new { number = item.Number }) |
                @Html.ActionLink("Delete", "Delete", new { number = item.Number })
            </td>
        </tr>
}
    </tbody>
</table>
